<% @page_heading = _('New article') %>

<%= render :partial => "admin/shared/edit", :locals => { :form_type => "article", :form_action => { :action => "new", :id => @article.id , :class => ('autosave')} } %>

<%= form_tag ({:action => "merge", :currid => @article.id}), {:id => "merge_with"} do %>
	<h4><%= _("Merge") %></h4>
	<h4><%= current_user.name %></h4>
	<div class='class'>
      	<%= text_field 'article', 'id', {:style => 'width: 20%'} %>
    </div>
	<%= submit_tag "Merge" %>
<% end %>